.form {
  display: table;
  width: 100%;
}

.form__group {
  display: table-row;
}

.form__label, .form__input {
  display: table-cell;
}

.form__label {
  padding: 5px 5px 5px 0;
}

.form__input {
  padding: 5px 0 5px 5px;
}

.form__input input {
  width: 100%;
  box-sizing: border-box;
}
