<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/public/styles/main.css" />
    <title>My isomorphic blog</title>
  </head>
  <body>
    <div id="react-container"><%- react %></div>
    <script src="/public/js/app.js"></script>
  </body>
</html>